
<div class="navbar-container">
  <a [routerLink]="['/landing']">
    <img src="https://cdn-icons-png.flaticon.com/512/25/25694.png" alt="Search Icon" class="search-icon">
  </a>
  <a [routerLink]="['/category']">
  
    <img src="https://cdn-icons-png.flaticon.com/512/2603/2603910.png" alt="Search Icon" class="search-icon">
  </a>
  <a [routerLink]="['/profile']">
  
    <img src="https://static.vecteezy.com/system/resources/thumbnails/002/318/271/small/user-profile-icon-free-vector.jpg" alt="Search Icon" class="search-icon">
  </a>
</div>