
<ion-header [translucent]="true">
  <ion-toolbar>
    <app-search></app-search>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container" class="carrousel-container3">
    <div class="carrousel-wrapper">
      <div id="box" class="carrousel-slide">
        <ion-card id="brands" class="ion-card shadow-card">
          <img [src]="appleImage" alt="">
        </ion-card>
      </div>
  
      <div id="box" class="carrousel-slide">
        <ion-card id="brands" class="ion-card shadow-card">
          <img [src]="lenovoImage" alt="">
        </ion-card>
      </div>
  
      <div id="box" class="carrousel-slide">
        <ion-card id="brands" class="ion-card shadow-card">
          <img [src]="hpImage" alt="">
        </ion-card>
      </div>
  
      <div id="box" class="carrousel-slide">
        <ion-card id="brands" class="ion-card shadow-card">
          <img [src]="dellImage" alt="">
        </ion-card>
      </div>
  
      <div id="box" class="carrousel-slide">
        <ion-card id="brands" class="ion-card shadow-card">
          <img [src]="asusImage" alt="">
        </ion-card>
      </div>
  
      <div id="box" class="carrousel-slide">
        <ion-card id="brands" class="ion-card shadow-card">
          <img [src]="canonImage" alt="">
        </ion-card>
      </div>
    </div>
  </div>
  <div class="swiper-container2">
    <div id="publi" class="carrousel-wrapper">
  
      <div class="carrousel-slide">
        <div class="img-container">
          <button>Click aquí</button>
          <img [src]="publicidadImage1" alt="">
        </div>
      </div>
  
      <div class="carrousel-slide">
        <div class="img-container">
          <button>Click aquí</button>
          <img [src]="publicidadImage2" alt="">
        </div>
      </div>
    </div>
  </div>
  <br><br><br>
  <div class="carousel-container">
    <div class="carousel">
      <img src="https://i.pinimg.com/originals/33/35/c7/3335c7f813edf600d5e56d93d00c3500.gif" alt="Imagen 2">
      <img src="https://i.pinimg.com/originals/f6/84/6c/f6846c6a6d128ac0106eea3a85a0125a.gif" alt="Imagen 3">
      <!-- Agrega más imágenes según sea necesario -->
    </div>
  </div>

</ion-content>
<app-nav-barr></app-nav-barr>