ion-content {
    --ion-background-color: #000000;
  }
  
  
  #brands {
    width: 135px;
    height: 65px;
    background-color: rgb(255, 255, 255);
    color: #10112e;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10px;
  }
  
  .shadow-card {
    --box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    --border-radius: 10px; /* Opcional: para esquinas redondeadas */
    --margin: 20px; /* Opcional: para margen alrededor de la tarjeta */
    --padding: 20px; /* Opcional: para relleno dentro de la tarjeta */
  }
  
  #container {
    display: flex;
  }
  
  #box {
    flex: 1;
  }
  
  .bar {
    max-width: 400px; /* Ancho máximo de la barra de búsqueda */
    margin: 0 auto; /* Margen automático a los lados para centrar */
    width: 100%;
    color: #10112e;
  }
  
  .h1 {
    text-align: center;
  }
  
  /* Estilos para el contenedor principal del carrusel */
  
  /* Estilos para cada slide del carrusel */
  .swiper-slide {
    text-align: center; /* Centra el contenido del slide */
    font-size: 24px; /* Tamaño de fuente */
  
    display: flex; /* Alinea el contenido en el centro */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
  }
  
  .publi {
    width: 300px;
    height: 200px;
  }
  
  .products {
    width: 100;
    height: 240;
  }
  
  .img-container {
    position: relative; /* Establecer posición relativa en el contenedor de la imagen */
  }
  
  .img-container img {
    display: block; /* Asegurar que la imagen sea un elemento de bloque */
    width: 100%; /* Ancho completo */
    height: auto; /* Altura automática para mantener la proporción */
  }
  
  .img-container button {
    position: absolute; /* Posicionamiento absoluto sobre la imagen */
    top: 164px; /* Ejemplo: posicionado 20px desde la parte superior */
    right: 50px; /* Ejemplo: posicionado 20px desde la parte derecha */
    background-color: rgba(35, 35, 59); /* Fondo semitransparente */
    color: white; /* Color del texto */
    padding: 10px 20px; /* Espaciado interno */
    border: none; /* Sin borde */
    cursor: pointer; /* Cambiar a cursor de puntero */
    border-radius: 10px;
  }
  
  .img-container h4 {
    position: absolute; /* Posicionamiento absoluto sobre la imagen */
    top: 104px; /* Ejemplo: posicionado 20px desde la parte superior */
    left: 20px; /* Ejemplo: posicionado 20px desde la parte derecha */
    color: white; /* Color del texto */
    padding: 10px 20px; /* Espaciado interno */
    font-size: 1.5rem;
    text-align: left;
    font-weight: bold;
  }
  
  .img-container #h4banner2 {
    position: absolute; /* Posicionamiento absoluto sobre la imagen */
    top: 68px; /* Ejemplo: posicionado 20px desde la parte superior */
    left: 20px; /* Ejemplo: posicionado 20px desde la parte derecha */
    color: white; /* Color del texto */
    padding: 10px 20px; /* Espaciado interno */
    font-size: 1.5rem;
    text-align: left;
    font-weight: bold;
  }
  
  .circular-button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 0;
  
    background-size: cover;
    background-position: center;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  ::ng-deep .ion-card {
    transition: transform 0.5s;
  }
  
  ::ng-deep .ion-card:hover {
    transform: scale(1.15);
  }
  
  ion-card {
    width: 160px;
    height: 230px;
    background-color: rgb(255, 255, 255);
  }
  
  .container-pop {
    width: 200px;
    height: 330px;
  }
  
  .card-title {
    position: absolute; /* Posiciona el h5 dentro de la tarjeta */
    bottom: 117px; /* Ajusta la distancia desde la parte inferior */
    left: 20px; /* Ajusta la distancia desde la parte izquierda */
    margin: 0; /* Elimina márgenes predeterminados */
    font-size: 1.0rem;
    color: #000; /* Color del texto */
    /* Otros estilos para el h5 */
  }
  
  .card-subtitle {
    position: absolute; /* Posiciona el h5 dentro de la tarjeta */
    bottom: 50px; /* Ajusta la distancia desde la parte inferior */
    left: 10px; /* Ajusta la distancia desde la parte izquierda */
    right: 10px;
    margin: 5px;
    font-size: 0.9rem;
    color: #000; /* Color del texto */
    /* Otros estilos para el h5 */
  }
  
  .card-subtitleprice {
    position: absolute; /* Posiciona el h5 dentro de la tarjeta */
    bottom: 10px; /* Ajusta la distancia desde la parte inferior */
    left: 20px; /* Ajusta la distancia desde la parte izquierda */
    margin: 0; /* Elimina márgenes predeterminados */
    font-size: 0.9rem;
    color: #000; /* Color del texto */
    /* Otros estilos para el h5 */
  }
  
  .card-image-small {
    position: absolute;
    width: 150px; /* Ancho deseado */
    height: auto; /* Altura automática para mantener la proporción */
    object-fit: cover; /* Ajusta la imagen dentro del contenedor */
    top: 50px; /* Posicionamiento desde la parte superior */
    left: 25px; /* Posicionamiento desde la parte izquierda */
    transform: translate(-50%, -50%); /* Centra la imagen */
    max-width: 100%; /* Ajusta el ancho máximo */
    z-index: 1;
  }
  
  .container-title {
    text-align: center;
  }
  
  .title {
    font-size: 2.0rem;
    color: #ffffff;
  }
  
  #circle-card {
    /* Set width and height for desired size */
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #ad4c4c;
  
    /* Optional styling for card background and shadow */
  
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  #circle-card2 {
    /* Set width and height for desired size */
    width: 50px;
    height: 50px;
    border-radius: 100%;
  
    /* Optional styling for card background and shadow */
  
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  #banner {
    width: 300px;
    height: 250px;
  }
  
  /* Estilo para el contenedor del carrousel */
  .carrousel-container3 {
    width: 100%; /* Ajusta el ancho según sea necesario */
    margin: auto; /* Centra el contenedor horizontalmente */
  }
  
  /* Estilo para el contenedor de los slides */
  .carrousel-wrapper {
    display: flex; /* Muestra los slides en línea */
    overflow-x: auto; /* Permite desplazamiento horizontal */
    scroll-snap-type: x mandatory; /* Configura el desplazamiento horizontal en el eje x */
    -webkit-overflow-scrolling: touch; /* Hace que el desplazamiento sea más suave en dispositivos iOS */
  }
  
  /* Estilo para cada slide */
  .carrousel-slide {
    flex: 0 0 auto; /* Permite que los slides se ajusten automáticamente al tamaño de su contenido */
    width: 100%; /* Ajusta el ancho de cada slide */
    scroll-snap-align: start; /* Alinea cada slide al inicio del contenedor */
  }
  
  /* Estilo para las imágenes dentro de los slides */
  .carrousel-slide img {
    width: 100%; /* Ajusta la imagen al ancho del slide */
    height: auto; /* Mantiene la proporción de la imagen */
    display: block; /* Asegura que la imagen se muestre como un bloque */
  }

  .custom-image {
    max-width: 200px; /* Establecer el ancho máximo */
    height: auto; /* Mantener la proporción */
  }

  

  .carousel-container {
    overflow-x: auto;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
  }
  
  .carousel {
    display: flex;
  }
  
  .carousel img {
    scroll-snap-align: start;
    width: 100%;
    min-width: 100%;
  }
  