<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>category</ion-title>
  </ion-toolbar>
</ion-header>

<ion-button (click)="navigateToCategoryDetail('laptop')">Laptops</ion-button>
<ion-button (click)="navigateToCategoryDetail('accesorios')">Accesorios</ion-button>
<ion-button (click)="navigateToCategoryDetail('celulares')">Celulares</ion-button>
<ion-button (click)="navigateToCategoryDetail('monitores')">Celulares</ion-button>
<ion-button (click)="navigateToCategoryDetail('impresoras')">Celulares</ion-button>