<ion-header [translucent]="true">
  <ion-toolbar>
    <app-search></app-search>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-card class="promotion-card">
      <ion-card-content>
        <div class="promotion-banner">
          <img src="https://back.panafoto.com/media/wysiwyg/2024/Banner-categoria/SAMSUNG-NEOQLED-1340x250.jpg" alt="Promoción especial" class="promotion-image" >
        </div>
        
      </ion-card-content>
    </ion-card>
    <ion-card *ngFor="let producto of productos" class="custom-card">
      <ion-item lines="none">
        <ion-thumbnail slot="start" class="custom-img">
          <img [src]="producto.imagenURL" alt="Imagen del producto" class="product-image">
        </ion-thumbnail>
        <ion-card-content>
          <div (click)="verDetalles(producto.id)" class="custom-productcard">
            <ion-card-title>{{ producto.nombre }}</ion-card-title>
            
            <p>Precio: {{ producto.precio | currency }}</p>
          </div>
        </ion-card-content>
        <app-car [producto]="producto" class="car-icon"></app-car>
      </ion-item>
      <app-car [producto]="producto" class="car-icon"></app-car>
    </ion-card>
    
  </ion-list>
</ion-content>
<app-nav-barr></app-nav-barr>