<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>category-detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let producto of productos">
      <ion-label>
        <h2>{{ producto.nombre }}</h2>
        <ion-thumbnail slot="start">
          <img [src]="producto.imagenURL" alt="Imagen del producto">
        </ion-thumbnail>
        <p>Código: {{ producto.codigo }}</p>
        <p>Precio: {{ producto.precio }}</p>
        <div (click)="verDetalles(producto.id)">
          <!-- Card de producto -->
          <p>{{ producto.nombre }}</p>
          <!-- Otros detalles del producto -->
        </div>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>