.logo {
    width: 50px; /* Ajusta el tamaño según sea necesario */
    height: 50px; /* Ajusta el tamaño según sea necesario */
    border-radius: 50%; /* Hace que la imagen tenga forma de círculo */
  }

  ion-button {
    margin-top: 10px; /* Ajusta este valor según sea necesario */
    --background: #ffffff;
    --background-hover: #ffffff;
    --background-activated: #ffffff;
    --background-focused: #ffffff;
    --color: blue;
    --border-radius: 0;
    --border-color: #ffffff;
    --border-style: solid;
    --border-width: 1px;
    --box-shadow: 0 2px 6px 0 rgb(255, 255, 255);
    --ripple-color: deeppink;
    --padding-top: 10px;
    --padding-bottom: 10px;
  }


 