ion-content {
    --ion-background-color: #06141B; /* Cambia el color de fondo según sea necesario */
  }

  ion-card {
    --ion-background-color: #ffffff; /* Cambia el color de fondo según sea necesario */
  }

  .promotion-card {
    margin-top: 20px; /* Espacio entre la card de promoción y las otras cards */
      background-color:#06141B;  /* Cambia el color de fondo según sea necesario */
   
  }
  
  .promotion-banner {
    position: relative; /* Establece el posicionamiento relativo para alinear elementos hijos */
  }
  .circular-image {
    position: absolute;
    top: 80%; /* Ajusta este valor para mover la imagen hacia abajo */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px; /* Ajusta el tamaño según sea necesario */
    height: 100px; /* Ajusta el tamaño según sea necesario */
    border-radius: 100%; /* Hace que la imagen tenga forma de círculo */
  }
  
  .circular-image img {
    display: block;
    width: 100%;
    height: auto;
  }

  ion-button {
    --background: #CCD0DF;
    --background-hover: #CCD0DF;
    --background-activated: #CCD0DF;
    --background-focused: #CCD0DF;
  
    --color: rgb(0, 0, 0);
  
    --border-radius: 20px; /* Bordes más circulares */
  
  
    --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
  
    --ripple-color: deeppink;
  
    --padding-top: 2px; /* Reduce el padding vertical */
    --padding-bottom: 2px;
    --padding-start: 8px; /* Reduce el padding horizontal */
    --padding-end: 8px;
  
    --height: 30px; /* Reduce la altura del botón */
    --width: auto; /* Permite que el ancho se ajuste al contenido */
  }