
<ion-content [fullscreen]="true">
  <h1 class="image-title">CompStore</h1>
  <div id="container" class="ion-padding">
    <div class="image-container">
      <h1 class="image-title">𝑬𝑳 𝒎𝒆𝒋𝒐𝒓 𝒍𝒖𝒈𝒂𝒓 𝒑𝒂𝒓𝒂 𝒂𝒅𝒒𝒖𝒊𝒓𝒊𝒓 𝒑𝒓𝒐𝒅𝒖𝒄𝒕𝒐𝒔 𝒅𝒆 𝒄𝒂𝒍𝒊𝒅𝒂𝒅</h1>
      <img src="https://i.pinimg.com/originals/3b/91/53/3b9153439c66e5a400cb9bad09d43395.gif" alt="Imagen" class="rounded-image">
      <div class="button-container">
        <ion-button (click)="changeBoxShadow()" expand="block" class="custom-button" [class.active]="isBoxShadowActive">INICIAR --- </ion-button>
      </div>
    </div>
  </div>
</ion-content>