
<ion-header>
  <ion-toolbar>
    <app-search></app-search>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ producto.nombre }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="image-container">
        <ion-thumbnail slot="start" class="custom-img">
          <img [src]="producto.imagenURL" alt="Imagen del producto" class="centered-image">
        </ion-thumbnail>
      </div>
      <p>{{ producto.detalles }}</p>
      <p>Precio: {{ producto.precio }}</p>
      <!-- Agrega más detalles según la estructura de tu objeto Producto -->
    </ion-card-content>
  </ion-card>
</ion-content>
<app-nav-barr></app-nav-barr>