

<ion-content>
    <ion-card>
      <ion-card-content>
        <div class="logo-container"> 

         
            <h1 class="login-title">Register</h1>
     
            <img src=" https://i.pinimg.com/564x/8d/4a/e4/8d4ae4fc9be25eac700dc7b5500cf06c.jpg" alt="Imagen 1">
        </div>
     
        <br><br><br>
       
        <ion-item>
          <ion-label position="stacked">Email</ion-label>
          <ion-input type="email" [(ngModel)]="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Password</ion-label>
          <ion-input type="password" [(ngModel)]="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Confirm Password</ion-label>
          <ion-input type="password" [(ngModel)]="confirmPassword"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Name</ion-label>
          <ion-input type="text" [(ngModel)]="name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Last name</ion-label>
          <ion-input type="text" [(ngModel)]="last_name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Location</ion-label>
          <ion-select [(ngModel)]="location" (ionChange)="onLocationChange()">
            <ion-select-option *ngFor="let loc of locations" [value]="loc.country">{{ loc.country }}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Zipcode</ion-label>
          <ion-input type="text" [(ngModel)]="zipcode" readonly></ion-input>
        </ion-item>
        <ion-button expand="block" (click)="register()">Register</ion-button>
        <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
      </ion-card-content>
    </ion-card>
  </ion-content>